<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="User_Information.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
            crossorigin="anonymous"></script>
    <title>User Information</title>

</head>

<body style='background-color: rgb(211, 132, 36);'>
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #72daae;">
    <div class="container-fluid ">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">Farming Toolkit</a>
        </div>

        <div class="nav navbar-right">
            <div class="navbar-header me-4">
                <a class="navbar-brand" href="#">Welcome</a>
            </div>
            <li class="nav-item dropdown">
                <div class="dropdown-content">
                    <form action="./login.html">
                        <input type="submit" value="Log Out"/>
                    </form>
                </div>
            </li>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 style="color: rgb(23, 19, 27);text-align: center;"><strong>Bid Created By:</strong></h1>
            <table class="table table-bordered table-striped table-hover" style="background-color:#6bd8ab;">
                <thead style="background-color: rgb(42, 173, 97);">
                <tr>
                    <th scope="col" colspan="2">Farmer Information</th>
                    <th scope="col" colspan="2">Crop Information</th>
                    <th scope="col">Wholesaler</th>
                    <th scope="col">Actions</th>
                </tr>
                <tr>
                    <th scope="col">Farmer Name</th>
                    <th scope="col">Location (Distance)</th>
                    <th scope="col">Crop Name</th>
                    <th scope="col">Price of Crop(Market MSP)</th>
                    <th scope="col">Bids Offered</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <% bids.forEach(function (bid) { %>
                <tr>
                <th scope="row"><%= bid.madeBy.userName %></th>
                <td><%= bid.madeBy.address %></td>
                <td><%= bid.crop.cropName %></td>
                <td><%= bid.pricePerUnit %>(<%= bid.crop.cropMSP %>)</td>
                <td>
                    <% bid.offersBy.forEach(function(bidder){ %>
                    <div class="col-md-3 col-sm-6">
                        <div class="thumbnail">
                            <img src="<%= bidder.id.userName %>">
                            <div class="caption">
                                <h4><%= bidder.amount %></h4>
                            </div>
                        </div>
                    </div>
                    <% }); %>
                </td>
                <td>
                    <button type="button" class="btn btn-success"><strong><em>BID</em></strong>
                    </button>
                </td>
                </tr>
                <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>